body {
    background-image: url("../images/ppl_bgi_moodplaya.png") !important;
}

.gral-white-cont {
    background-color: rgba(255,255,255,0.9) !important;
    margin-top: 2em;
    -webkit-box-shadow: 3px 3px 0 rgba(0,0,0,0.18);
    box-shadow: 3px 3px 0 rgba(0,0,0,0.18);
    padding: .1em 1em;
}

.mg-bx{
    margin-top: -1em !important;
}

.ck-txt li{
   font-size: 1.2rem;
}

/*slip-slide */
.img-slip {
        width: 100%;
    margin-bottom: 4%;
   } 

.sl-cl-9{color:#fff !important;}
.sl-cl p{color:#fff;}
.sl-cl h1 {margin-top: 0 !important;}
.txt-sl{ font-size: 1.3rem;
    line-height: 1.5rem;}

.sl-cl-hr{border: 1px solid #fff; width: 97% !important;}
.cnt-sl{text-align: center;}

.errorEdad{
    color: white;
    display: block;
    background-color: #d0043c;
    font-family: 'akzidenzgrotesk';
    text-align: center;
    font-size: 27px;
    clear: both;
    padding: 4px;
}
.img-1-ss{
background: url("../images/banner-mills-gan-dek-tab.png") no-repeat center top;
width: 100%;
height:576px;

}

.img-2-ss {
    background: url("../images/banner-mills-mob.png") no-repeat top center;
    background-size: 87%;
    width: 100%;
    height: 524px;
    }

/*ajuste video tributes*/

.vide-lke{
    text-align: left;
    margin-bottom: 1.7% !important;
}

/* estilos-interna-ganadores*/

    .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height:0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-3-ss{
background: url("../images/banner-mills-lg.png") no-repeat center top;
width: 100%;
height:250px;

}

.img-3-ss-xs{
background: url("../images/banner-mills-xs.png") no-repeat center top;
width: 100%;
height:250px;

}

.img-3-ss-sm{
background: url("../images/banner-mills-sm.png") no-repeat center top;
width: 100%;
height:250px;

}


.panel-default>.panel-heading {
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);*/
    background-repeat: repeat-x;
    background-color: #01214d;
    color: #fff;
}

.panel-body {
    padding: 15px;
    background-color: #d4dce7;
}

.tit-pest{
  font-size: 1.8rem;
  color:#d0043c;
}

.panel-body h2{color:#01214d;}


/* galerias */
.proporcion-galeria{
	margin-top:2em;
	margin-bottom:0.5em;
}
.img-news{
	border-bottom: solid 1px #0093d9 !important;
}	
.link-news{
	cursor:pointer;}
/*Cris estilos */
.boxShad{
	-webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.19);
-moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.19);
box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.19);
}

/*menu*/
.navbar-toggle {
    z-index: 200;
    right: 10px;
}

.title-new h2{
    color: #fff;
    margin: 0;
    text-align: right;
}

.sub-menu{
    display: none;
}

.menu-ppal li h5{
    background-color: transparent;
    border-bottom: solid .2em #d0043c;
    color: #fff !important;
    font-family: 'roboto-r';
    font-size: 0.85em !important;
    font-size: 1em;
    height: 3.5em;
    margin: 0;
    padding: 15px 1em;
    text-transform: uppercase;
}

.menu-ppal li:hover h5{
    display: none;
}

.menu-ppal li:hover .sub-menu{
    display: block !important;
}
/*breadcups*/
.muse .breadcrumbs, .pearl .breadcrumbs {
    color: #fff !important;
    border-bottom: solid 1px #fff !important;
}
/*bar*/
.load-bar{
	    background: rgba(155,155,155,0.3);
    height: 2em;
    width: 100%;
    text-align: right;
    padding-right: 0;
    z-index: 10;
	position: absolute;
    margin-top: 80px;
	}
.charge-Load-Bar{
	    background: -o-linear-gradient(left, #0093d9, #005193);
    background: -ms-linear-gradient(left, #0093d9, #005193);
    background: -moz-linear-gradient(left, #0093d9, #005193);
    background: -webkit-linear-gradient(left, #0093d9, #005193);
    background: linear-gradient(to right, #0093d9, #005193);
    background-image: linear-gradient(to right, rgb(0, 147, 217), rgb(0, 81, 147));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    height: 100%;
    width: 0%;
    text-align: right;
	max-width:100%;
    z-index: 10;
	}
	.progress-label{
		 font-family: 'akzidenzgrotesk';
    position: absolute;
    top: 0;
    right: 2%;
    font-size: 1.8em;
    color: #FFF;
}
/*generales*/
.breadcrumbs{
	border-bottom: solid 1px #01214D;
    color: #005188;
	}
.breadcrumbs a,.breadcrumbs a:hover, .breadcrumbs a:active, .breadcrumbs a:focus, .breadcrumbs a:visited {
    color: #005188;
    text-decoration: none;
}
/*validador*/
.age-validator .form-control {
	font-size: 3.0em;
	width: 100%;
}
/*Home */

.gral-cont {
        margin-top: 2.5em;
}
/*.homeDisplay{margin-top: 0.5em;}*/

.homeDisplay{ 
    margin-top: 0em;
    overflow-y: hidden; 
    height: 35em;
    max-height: 80em;
}

.bg_moodplaya{
    background-image: url("../images/ppl_bgi_eventos.png") !important;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 87% auto;
    /*cursor: pointer;*/
    height: 80em;
    width: 100%;
}

.perfectScuare {
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
	display: block;
}
.perfectScuare2 {
	height: 0;
	padding-bottom: 67%;
	overflow: hidden;
	position: relative;
	width: 100%;
	display: block;
}
.perfectScuare:hover, .perfectScuare2:hover {
    opacity: 0.9;
}
.perfectScuare img {
	height: auto;
	position: absolute;
	width: 100%;
	display: block;
}
.perfectScuare2 img {
	height: auto;
	position: absolute;
	width: 100%;
	display: block;
}
.logo-red-cont {
	margin-top: 0px;
	padding: 2em;
}

.logo-red-cont div img{
	    padding-top: 12%;
}
.scuareline{
	display:block;
	width:100%;
	height:4px;
	position:absolute;
	bottom:0;
}
.scuareline-vertical{
    color:#000;
    display:block;
    width:4px;
    height:100%;
    position:absolute;
    bottom:0;
}
.scuareline.red{
	background-color:#C5043C;
}
.scuareline.beige{
	background-color:#DDC089;
}
.RegistraInside{
	position: relative;
    z-index: 20;
    background-color: #01214D;
    display: block;
    width: auto;
    padding: 10px 0;
    margin: auto;
    text-align: center;
    color: #FFF;
    font-size: 1.9rem;
    font-family: 'akzidenzgrotesk';
    height: 31px;
    margin-bottom: -31px;
    line-height: 1.2rem;
}

.home-links{ padding: 1em;
}

/*capsulasAlex */
.selectCity{
display: inline-block;
    vertical-align: bottom;
    margin-top: 7px;
    margin-bottom: 0;
    font-size: 13px;
    padding: 2px 12px;
    text-align: center;
    width: 50%;
    background-color: #0088CE;
    border: 0px;
    border-radius: 0;
    color: #FFF;
	background-image: url("../images/elementosUI.png");
	background-repeat: no-repeat;
    background-position: 96% 50%;

}
/*lite-tributes */
.city {
    padding: 0.2em 0em 0.2em 0.4em;
}
.event{
    padding: 0.7em 0.8em 0.2em  0.8em;
	line-height: 1em;
}
.grl-btn {
    font-size: 0.9em;
}
/*mecanica*/
.error {
    background-color: #C5043C;
    color: #fff !important;
}
.success {
    background-color: #0088CE;
    color: #fff !important;
	text-align: center;
    padding: .5em;
    -webkit-box-shadow: 3px 3px 0 rgba(0,0,0,0.18);
    box-shadow: 3px 3px 0 rgba(0,0,0,0.18);
}
/*galeriaVotos */
.band-info-cont {
    position:relative;
}
.hitboxgaleria{
	display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
	cursor:pointer;
}
.hitboxgaleria:hover{
    background-color: rgba(0,0,0,0.0);
}

#sexo, #evento, #pais, #depto, #ciudad{
    cursor:pointer;
}
.logo-its{
    margin-top: 0.2em;
}

/* Interna muse*/
body.muse .gral-cont {
        margin-top: 1.5em;
}
body.muse h1 {
    margin: 2px 0;
}
body.muse p.fechaEntreJ {
    font-size: 12px;
    margin-top: 18px;
}
.col-xs-12.col-md-6 > a.terminosMuseIn {
    font-size: 12px;
}
h1.terminosMuse, h2.terminosMuse {
    text-align: center;
}
body.muse #collapse2, body.muse  #collapse1 {
    margin-top: 15px;
}
body.muse .museTweets, body.sonar .museTweets{
    border-bottom: 1px dotted #005188;
    height: 346px;
}

body.muse .infoUsuario, body.pearl .infoUsuario, body.sonar .infoUsuario {
    padding: 0.5em;
}
body.muse .imgTwMuse, body.pearl .imgTwMuse, body.sonar .imgTwMuse {
    display: inline-block;
    max-height: 4em;
    max-width: 4em;
    overflow: hidden;
}
body.muse .contNomreUsu, body.pearl .contNomreUsu, body.sonar .contNomreUsu {
    display: inline-block;  
    font-size: 14px;  
    margin-left: 5px;
}
body.muse .contNomreUsu p.nomUsu, body.pearl .contNomreUsu p.nomUsu, body.sonar .contNomreUsu p.nomUsu {
    color: #5B5B5B;
    margin: 0;
}
body.muse .contNomreUsu p.arrobaUsu, body.pearl .contNomreUsu p.arrobaUsu, body.sonar .contNomreUsu p.arrobaUsu {
    color: #005188;
    margin: 0;
}
body.muse .conTweetMu, body.pearl .conTweetMu, body.sonar .conTweetMu {
    background: #0093f7;
    font-size: 12px;
    padding: 0.5em;
}
body.muse .conTweetMu p.textTW, body.pearl .conTweetMu p.textTW, body.sonar .conTweetMu p.textTW {
    color: #fff;
}

/* Bandas Ganadoras */

body.bandGanadores .panel-group .panel {
    border: none;
}
body.bandGanadores .panel-default > .panel-heading {
    background-color: #0093f7;
    border-radius: 0;
}
body.bandGanadores .panel-title {
    font-size: 20px;
}
body.bandGanadores .tit-pest {
    font-family: "akzidenzgrotesk";
    font-size: 3.5rem;
}
/* ------ life in color */
.panel-group {margin-bottom: 3em;}
/*-- fix menu extra item/--*/
.navbar-nav li a {
    font-size: 0.85em !important;
}

body.carrera-st{
    background-image:url("../images/carreraStars-fondo.jpg")!important;
    background-position: center top;
}


body.lifeInColor{
    background-image:url("../images/lifeInColor-fondo.jpg")!important;
    background-position: center top;
}





body.slip-slide{
    background-image:url("../images/bg-slip.jpg")!important;
    background-position: center top;
}




body.lifeInColor .lifeTitle {
    font-size: 3em;
    color: #FFF;
    margin: 0.4em 0 0em; 
    background-color: rgba(0,81,136,0.8);
    padding-left: 0.3em;
    line-height: 0.95em;
    text-align: center;
}
body.lifeInColor .thecolorCar{
    height: 304px;
    background-color: black;
    padding-top: 27px;
}
body.lifeInColor .carousel .carousel-inner{
    background-color: #000;
    /*height: 303px; con video*/
    /*height: 413px;*/
}
body.lifeInColor .carousel .carousel-inner .item:before{
    /*content: "";
    height: 100%;
    display: inline-block;*/
    /*content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
*/
}
body.lifeInColor .imgcarousel .item{
    text-align: justify;
    width: 100%;
    /*height: 250px;*/
    /*padding-bottom: 80.5%;*/
    overflow: hidden;
    vertical-align: middle;
    /*position: relative;*/
    /*top: 8%; con video*/
    


}
body.lifeInColor .imgcarousel .item:after{
    content: "";
    display: block;
    width: 100%;
    
}
body .lifeCube{
    background-color: #000;
    display: block;
    height: 100%;
    width: 100%;

    /*width: 49.4%;
    height: 0;
    overflow: hidden;
    display: inline-block;
    margin: 0;
    padding: 0 0 49.4% 0;*/
}
body .lifeCube img{
     display: inline-block;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
    /*height: 100%;
    width: auto;*/
}
.ekko-lightbox{}
.ekko-lightbox .modal-dialog{
    max-width: 1000px !important;
    min-width: 300px !important;
}
.ekko-lightbox .modal-dialog .modal-content{
background-color: rgba(0,0,0,0.6);
}
.ekko-lightbox .modal-dialog .modal-content img{
    /*max-width: 700px !important;*/
    margin: auto;
}
.ekko-lightbox .modal-dialog .modal-content a:hover{
    text-decoration: none;
}
/*---------------------- Lived Acordion Tributes ------------------------*/
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.lived-acordion{}
.lived-acordion .panel .panel-heading{
    padding: 0;
}
.lived-acordion .panel .panel-heading a{
    display: block;
    padding: 10px 15px;
}
.lived-acordion .tit-pest{
  line-height: 0.9em;
}
.lived-acordion .panel-body h3{
    margin: 0;
    line-height: 0.85em;
}

/*---------------------- Lived Muse ------------------------*/

body.muse .lifeTitle {
    font-size: 3em;
    color: #FFF;
    margin: 0.4em 0 0em; 
    background-color: rgba(0,81,136,0.8);
    padding-left: 0.3em;
    line-height: 0.95em;
    text-align: center;
}


body.sonar .lifeTitle {
    font-size: 3em;
    color: #FFF;
    margin: 0.4em 0 0em; 
    background-color: rgba(0,81,136,0.8);
    padding-left: 0.3em;
    line-height: 0.95em;
    text-align: center;
}





body.muse .thecolorCar{
    /*height: 304px;*/
    background-color: black;
    /*padding-top: 27px;*/
}
body.muse .carousel .carousel-inner{
    background-color: #000;
    /*height: 303px; con video*/
    /*height: 413px;*/
}
body.muse .carousel .carousel-inner .item:before{
    /*content: "";
    height: 100%;
    display: inline-block;*/
    /*content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
*/
}
body.muse .imgcarousel .item{
    text-align: justify;
    width: 100%;
    /*height: 250px;*/
    /*padding-bottom: 80.5%;*/
    overflow: hidden;
    vertical-align: middle;
    /*position: relative;*/
    /*top: 8%; con video*/
    


}
body.muse .imgcarousel .item:after{
    content: "";
    display: block;
    width: 100%;
    
}
body .lifeCube{
    background-color: #000;
    display: block;
    height: 100%;
    width: 100%;

    /*width: 49.4%;
    height: 0;
    overflow: hidden;
    display: inline-block;
    margin: 0;
    padding: 0 0 49.4% 0;*/
}
body .lifeCube img{
     display: inline-block;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
    /*height: 100%;
    width: auto;*/
}
/* ------------------------------ pearl jam acordeon ------------------*/
.minus-two{
        margin-top: -5px;
    padding: 1em 1em 1em;
}
body.pearl .museTweets{
    border-top: 1px solid #005188;
    border-bottom: 1px solid #005188;
    height: 330px;
    }
.minus-0{
    margin-top: 0.1em !important;
}

/*mediaqueries */

@media (max-width: 767px){



	
	.navbar {
	position: absolute;
    display: block;
    width: 100%;
    border-radius: 4px;
}

.navbar-collapse {
    position: absolute;
    top: 0;
}
.col-xs-12.btnNueInd {
    display: inline-block !important;
    margin-bottom: 10px;
    margin-top: -27px;
}
.col-xs-12.btnNueInd button.grl-btn {
    width: 100% !important;   
}
#enviar{
    display: block;
}


}
@media (max-width: 991px){
	.load-bar {
		padding-right:0;
    height: 3.3em;
    position: absolute;
    margin-top: 0px;
	}
	.progress-label{
    top: 10%;
	font-size: 2em;
}
body.lifeInColor .lifeTitle, body.muse .lifeTitle {  
    text-align: left;
}

}
@media (max-width: 1200px){
	
	.perfectScuare2 {
	padding-bottom: 46.4%;
    }
}
@media (max-width: 991px){
    
    .perfectScuare2 {
    padding-bottom: 45.4%;
}
}
@media (min-width: 1200px){

}
@media (min-width: 991px){
	.nogap-R{
    padding-right: 0;
	}
	.nogap-L{
    padding-left: 0;
	}
.img-news{
	border-bottom:none !important;
}	
.proporcion-galeria{
	padding-bottom:20% !important;
	margin-top:0.5em;
}
.grl-btn {
    font-size: 1.1em;
}
}
@media only screen and (max-width: 40em) {
.lived-acordion .tit-pest{
  line-height: 0.5em;
}
.lived-acordion .panel-body h3{
    line-height: 0.6em;
} 
}
@media (min-width: 1400px){
    .new_bg{
        background-size: 61%;
    }

}

@media only screen and (min-width: 64.063em) { }
@media only screen and (min-width: 90.063em) { }