/*
-Deben ser elementos por default que lucirán igual en todo el sitio, Es .
-Ningún estilo de estos elementos selectores deberá usar !important.
-No usar selectores tipo class o id.  #01214d #005193

	background -moz-linear-gradient(-45deg, #01214d 0%, #005193 73%)
	background -webkit-linear-gradient(-45deg, #01214d 0%,#005193 73%)
	background linear-gradient(135deg, #01214d 0%,#005193 73%)
*/

*
	font-smoothing antialiased
	font-smoothing grayscale
	
a
	text-decoration none
	color #fff
	
	&:hover
		text-decoration none
		color Mlmid
		

html
	width 100%
	height 100%
	margin 0
	padding 0
	background Mlmid
	background -moz-linear-gradient(90deg, #01214d, #005193)
	background -webkit-linear-gradient(90deg, #01214d, #005193)
	background linear-gradient(90deg, #01214d, #005193)
	
body
	font-size 17px
	width 100%
	height 100%
	margin 0
	padding 0
	overflow-x hidden
	background Mlmid
	background -moz-linear-gradient(90deg, #01214d, #005193)
	background -webkit-linear-gradient(90deg, #01214d, #005193)
	background linear-gradient(90deg, #01214d, #005193)

#user-login-form
	label
		width 10em
		
#myCarousel-log
	carousel
	background white
	
	
#nueva-cuenta-usuarios
	padding 1% 15% 0% 28%
	width 100%
	background white
	
	div, span
		font-weight bold
		text-align left
		font-size 15px
		color #005193
		padding 0px 0px 0px 0px
		border 0px
		border-style solid

	.description
		font-weight normal
		color #000000
		width 90%
		
		a
			color #005193

#edit-submit
		margin 0

#resultados-de-busqueda
	width 60%
	margin-left 20%
	h2
		color white
		font-size 3rem
	
#resultado-unico-de-busqueda
	border-bottom dotted 1px white
		
#search-block-form--2
	.container-inline
		margin 0 !important
		width 100% !important

.comparte
	color white

.carousel-indicators
	position absolute
	bottom 0

.recents-w
	background none
	color #005193
		
.pd-ct-txt
	padding 3%
	color #fff
	
.pulp
	padding 0

.row 
	margin-right 0px !important
	margin-left 0px !important

.img-no-dim>img
	width 100%
	height auto

.dam-l-2
	width 100%
	height 20rem !important

h1
	font-family akzidenzgrotesk



h2.block-title
	font-size 3rem
	position relative
	left 66px
	color white
	
h2
h3
	font-family 'akzidenzgrotesk-m', Roboto
	font-size 1.8rem
	font-weight bold
	width 100%
	letter-spacing 0.1rem
	
h4
h5
	font-family Roboto
	font-size 1.4em
h6
	font-family Roboto
	
p
	font-family Roboto
	color #fff


.gral-white-cont
	padding 1em important

.gral-white-cont>p
	color #565656

.gral-white-cont>span
	color #565656

.diasWrapper
	margin-top 3%
	margin-bottom 3%

.grl-btn, 
	.blue
		width 100%

.cont-ini-sesion
	padding 1%
	background-color #989ea5
	width 100%


.cont-ini-sesion,
	.form-item
		text-align center
		color #005193
	
.item-list ul
	margin 0 0 0.25em 1.5em
	padding 0
	list-style-type none !important

.fond-1
	padding 0

.bg-1
	background-color Mlgray

.pd-t
	color Mlmid
	padding-left 3%
	
.feed-w
	border-bottom solid 1px #bac0c6
	border-top solid 1px #bac0c6
	background #dddddd
	
.close
	background none
	color white
	text-shadow none
	opacity 1
	right 36%
	position absolute
	top 0

// dashboard

.log-w
	background-color Mlgold
	padding 2% 0 1% 2%
	margin 0

.log-w div
	display inline-block

.pic-ct
	margin 0% 0 0 0
	width 3rem
	height 3rem
	border-radius 40px
	overflow hidden

.txt-ct
	width 80%
	height 2.5 rem


.tit-log
	font-size 1.3rem
	margin 0 0 0 4%

.name-t
	color Mlmid 
	font-size 2rem
	margin 0 0 0 4%
	line-height 1rem

.ct-slide
	width 100%
	height 12rem
	padding 1% 0 0 0
	

//Noticias
.rec-m
	margin 3% 0 2% 3% !important
	color Mlmid
	font-size 17px
	text-transform uppercase

.b-f
	height 200px
	background-color Mlgray

.txt-ct-2
	width 79%
	padding 2% 0
	height 9rem

.name-t-2
	color #005193
	font-size 1.8rem
	margin 0 0 2% 4%
	line-height 2rem

.log-w-2
	padding 0% 0 0% 2%
	margin 0

.log-w-2 div
	display inline-block

.tit-log-2
	font-size 1.3rem
	margin 0 0 0 4%
	color Gris 

.pic-ct-2
	margin 0% 0 0 0;
	width 3rem
	height 3rem
	border-radius 40px
	background-color Mldark
	background-position top
	backgroungd-size contain
	overflow hidden
	

//recientes

.rec-box
	background 0 0
	height 3.5rem
	width 92%
	margin 1% 0 0 3%
	padding 1%
	border-bottom dotted 1px #005193

.rec-box div
	display inline-block
	background none

.name-t-3
	font-family roboto
	color #0081d8 !important
	height auto
	float left
	padding 0
	margin 0% 0 0
	text-align left
	font-size 15px

//social



.s-i-2
	font-size 5.5rem
	margin 0 0 0 0

.icon-miller-fb
	color #3b5998

.icon-miller-tw
	color #00aced


.soc-links
	margin 0 0 0 0 
	padding 0 0 0 0


.soc-links li 
	display inline-block
	list-style none
	text-decoration none
	margin 0 0 0 0
	padding 0 0 0 0
	width 4.4rem

.soc-links li a
	text-decoration none
	&:hover
		text-decoration none
		opacity 0.8	


// slider

.carousel,
.item,
.active 
	height 100%
	background none


.carousel-inner
	height 100%
	background #dddddd

.fill
	width 100%
	height 100%
	backgroungd-size cover
	

.color
	width 100%
	height 26rem
	background-color #ccc

.carousel-control
	width 4%

.carousel-caption
	position absolute
	right 0rem
	top 0rem
	bottom 0rem
	left 0rem
	z-index 10
	padding 4% 15% 4% 4%
	padding-top 0
	padding-bottom 0
	color #fff
	text-shadow 0 1px 2px rgba(0,0,0,.6)
	background-color #01214d
	text-align left
	opacity .8
	color #fff

.slid-tit
	font-size 3rem
	line-height 2.9rem
	color #fff 

.slid-tit-2
	font-size 2.5rem
	line-height 2.2rem
	margin 8% 0 5% 0
	color #fff
	font-family akzidenzgrotesk !important

.slid-txt
	color #FFFFFF
	font-size 1.4rem
	line-height 1.9rem
	margin 7% 0 0 0
	


.dam-l
	border-bottom 1px solid #fff
	margin 1% 0 5rem 0
	
.sp-txt
	font-weight bold

.slid-txt-2
	font-size 1rem
	color #fff
	margin 0.5% 0 0.5% 0

.adv-men 
	width 100%
	height 5rem
	background-color #005193
	padding 4%
	color white
	font-size 2rem
	text-align center
.adv-men a
	color white

.offcanvas.in
	background-color Mlgray
	margin 0
	padding 0


.breadcrumb
	padding 0 0 0 5%
	background-color transparent
	margin 1% 0 1% 0
	color #fff
	
.breadcrumb>a
	color #fff


.breadcrumb>a
	text-decoration none
	color #fff !important
	
	&:hover
		text-decoration none
		color Mlmid




.listado-articulos	
	.view-content
		vertical-align middle
		width 100%
		text-align center
		
		.views-row
			background-color rgba(white, 0.8)
			display inline-block
			margin 1em 0
			min-height 126px
			padding 1em
			position relative
			vertical-align middle
			width 100%
			
			//imagen
			.views-field-field-imagen-bbq
				vertical-align middle
				display inline-block
				width (95%/3)
				.field-content a img
					display block
					height auto
					max-width 100%
			
			//titulo		
			.views-field-title
				color #01214d !important
				display inline-block
				position absolute
				top 1em
				vertical-align middle
			
			//descripcion	
			.views-field-field-resumen
				display inline-block
				vertical-align middle
				width (95%/3)*2
				text-align left
				margin-top 1em
			

//maria del mar

.views-field-changed
	text-align right
	font-size 0.8em

//buscador

.container-inline
	width 50%
	margin-left 25%
	margin-top 20px
    
.form-item
	label
		color white
.title
	a
		font-size 2rem
		color white
		text-decoration underline
	