/*
	background -moz-linear-gradient(-45deg, #01214d 0%, #005193 73%)
	background -webkit-linear-gradient(-45deg, #01214d 0%,#005193 73%)
	background linear-gradient(135deg, #01214d 0%,#005193 73%)
*/

*
	font-smoothing antialiased
	font-smoothing grayscale

::selection /* WebKit/Blink Browsers */
	background Mlred
	color #fff 

::-moz-selection /* Gecko Browsers */
	background Mlred
	color #fff 
	
a
	color #fff
	text-decoration none
	
	&:hover
		color Mlmid
		text-decoration none
	
body
	background Mlmid
	background linear-gradient(90deg, #01214d, #005193)
	font-family Roboto
	font-size 17px
	height 100%
	margin 0
	overflow-x hidden
	padding 0
	width 100%
	
footer
	background-color Mldark
	margin 0
	padding 0
	width 100%
	height 100%

	a
		color #ffffff

h1
	font-family akzidenzgrotesk

	
h2, h3
	font-family 'akzidenzgrotesk-m', Roboto
	font-size 1.8rem
	font-weight bold
	width 100%
	letter-spacing 0.1rem
	
h4, h5
	font-family Roboto
	font-size 1.4em
h6
	font-family Roboto
		
html
	background Mlmid
	background linear-gradient(90deg, #01214d, #005193)
	height 100%
	margin 0
	padding 0
	width 100%

html, body
	height 100%

li
	a.active
		color lighten(Mllight, 40%)
	
p
	font-family Roboto
	color #fff




