h2.block-title
	background-color rgba(Mllight, 0.3)
	color white
	font-size 4.4rem
	margin-top 0rem
	padding 1rem
	padding-top 1.9rem
	position relative
	text-align center
	z-index 0

body.bg-bbq-haspe #content
	background-image url('../../images/1-generic-fond-2.png')

body.bg-litestyle-haspe #content
	background-image url('../../images/1-generic-fond-2.png')

body.bg-beertime-haspe #content
	background-image url('../../images/1-generic-fond-2.png')

body.bg-millerlite-haspe #content
	background-image url('../../images/1-generic-fond-2.png')


#block-system-main
	.container
		.row
			&:last-child
				margin-bottom 17rem
				
.block-footer-sitemap
	.block-title
		background none 
		font-size 7rem
		margin-left 13rem
		padding 2.5rem 1rem
		text-align left

.color-2
	height auto
	width 100%
	
.cont-ini-sesion
	background-color Mllight
	box-shadow inset 0px -5px 5px rgba(0, 0, 0, .25)
	color #fff
	padding 1%
	text-align center
	width 100%

	.form-item
		text-align center
		color #fff
	
.dam-l
	border-bottom 1px solid #fff
	margin 3% 0 5rem 0

.img-a-l-p
	width 100%
	height auto
	height 100%
.img-ct-art
	height 580px
	margin 1% 0 1% 0
	width 100%
	
.fb-share-button
	color #fff
	&QUITARPARAACTIVAR
		color #fff
		

.img-no-dim
	img.previa
		height 100px
		width 100px
	

.listado-articulos	
	.view-content
		vertical-align middle
		width 100%
		margin 1rem auto 3rem
		
		.views
			&-row
				background-color rgba(white, 0.8)
				display inline-block
				margin 1em auto
				margin-left 2.1rem
				min-height 126px
				padding 1em
				position relative
				vertical-align middle
				width 100%
			
			//imagen
			&-field-field-imagen-bbq
				vertical-align middle
				display inline-block
				width 20%
				.field-content a img
					display block
					height auto
					max-width 100%
			
			//titulo		
			&-field-title
				display inline-block
				position absolute
				top 1em
				vertical-align middle
				
				a
					color Mldark
					font-size 1.8rem
					
					&:hover
						color Mllight

			//descripcion	
			&-field-field-resumen
				display inline-block
				vertical-align middle
				width 77%
				text-align left
				margin-top 1em


.l-btns
	margin-bottom 13rem


.node-content
	.field-item
		p
			a
				color Mlgold
				
				&:hover
					color darken(Mlgold, 30%)
					text-decoration underline
			strong
				color lighten(Mllight, 60%)
				text-shadow 0px 0px 5px rgba(0,0,0,0.45)
				

.pic-container-2
	background-image url('../../images/1-music-season-fond.png')
	backgroungd-size contain

.pd-wr
	padding 1% 0 0 2%

.pd-wt
	padding 0% 2% 0 2%

.p-row
	margin 0
	padding 2%


.videoWrapper
	height 0
	padding-bottom 56.25%
	padding-top 25px
	position relative

.videoWrapper
	iframe
		position absolute
		top 0
		left 0
		width 100%
