.pic-container-2
	background-image url('../../images/1-music-season-fond.png')
	backgroungd-size contain

body.bg-bbq-haspe #content
	background-image url('../../images/1-generic-fond-2.png')

body.bg-litestyle-haspe #content
	background-image url('../../images/1-generic-fond-2.png')

body.bg-beertime-haspe #content
	background-image url('../../images/1-generic-fond-2.png')

body.bg-millerlite-haspe #content
	background-image url('../../images/1-generic-fond-2.png')



.color-2
	width 100%
	height auto

.videoWrapper
	position relative
	padding-bottom 56.25%
	padding-top 25px
	height 0

.videoWrapper
	iframe
		position absolute
		top 0
		left 0
		width 100%
		height 100%

.pd-wr
	padding 1% 0 0 2%

.pd-wt
	padding 0% 2% 0 2%

.p-row
	padding 2%
	margin 0

.img-ct-art
	width 100%
	height 580px
	margin 1% 0 1% 0

.img-a-l-p
	width 100%
	height auto
