footer
	background-color Mldark
	margin 0
	padding 0
	width 100%
	height 100%

footer a
	color #ffffff

.foot
	background-color Mldark
	width 100%
	height auto
	padding 0.1% 0 0.1% 0
	margin 0 0 0 0
	border 1px solid #01214d	
	
.max-p-f
	width 100%
	height auto
	position relative
	left 0
	bottom 0

.cent-lst
	text-align center

.list-bl li
	display block
	padding 2% 2% 0% 0%
	font-size 1.4rem
	
.navbar-nav>li>a 
	padding-top 0
	padding-bottom 0.8rem

.navbar-nav
	&>li
		&>a
			&:hover
				background-color transparent
				color lighten(Mllight, 40%)


.del-ft
	background-color Mldark
	width 100%
	padding 0.5% 0 0 0


.leg-bar
	padding 0
	margin-top 5%

.leg-bar li
	display inline-block
	padding 0


.leg-txt
	font-size 1rem
	text-align center
	color #fff
	padding 0
	margin 0 0 1% 0

.log-imt
	text-align center
	margin 0 0 0 0
	padding 4% 0 0 0

.c-lg
	text-align center

.list-bl
	margin 7% 0 7% 0
	padding 0 0 0 0
	width 100%

.navbar-default .navbar-nav>li>a, 
	.navbar-default .navbar-text
		color #FFF

.navbar-default .navbar-text:hover
	color Mlmid
		
