#user-login-form
	label
		text-align right
		width 10em
		
	input
		border 1px solid Mldark
		

	#edit-submit--4
		background-color Mlmid
		border 0
		border-radius 5px
		color #fff
		transition all ease-in-out 0.2s
		
		&:active
			transform scale(0.9)
			
		&:hover
			background-color Mldark
		
	
#nueva-cuenta-usuarios
	padding 1% 15% 0% 28%
	width 100%
	background white
	
	div, span
		font-weight bold
		text-align left
		font-size 15px
		color Mlmid
		padding 0px 0px 0px 0px
		border 0px
		border-style solid

	.description
		font-weight normal
		color #000000
		width 90%
		
		a
			color #005193