#search-form

	#edit-basic
		&:after
			bottom 20px
			color #fff
			content "\e003"
			font-family 'Glyphicons Halflings'
			pointer-events none
			position absolute
			right 2.3rem
			z-index 1
	
	.form-wrapper
		position relative
		
		.form-item-keys
			display inline-block
			text-align left
			width 88%
				
			label
				color Mllight 
				
			input#edit-keys
				background-color transparent
				border none
				border-bottom 1px solid white
				color white
				display inline-block
				width 100%
				&:focus
					outline 0 !important
					
		input#edit-submit
			background-color transparent
			border none
			color transparent
			position relative
			width 9%
			z-index 0
			&:focus
				outline 0 !important
					
#user-login-form
	label
		text-align right
		width 10em
		
	input
		background-color transparent
		border 0
		border-bottom 1px solid Mldark
		padding 0.4rem
		transition all ease-in-out 0.3s
		
		&:focus
			border-bottom-color Mlgold
			outline 0 !important
			outline none !important
		

	#edit-submit--4
		background-color Mlmid
		border 0
		border-radius 5px
		color #fff
		padding 1.2rem
		transition all ease-in-out 0.2s
		
		&:active
			transform scale(0.9)
			
		&:hover
			background-color Mldark
			
#user-login-form
	label
		text-align right
		width 10em
		
	input
		background-color transparent
		border 0
		border-bottom 1px solid Mldark
		padding 0.4rem
		transition all ease-in-out 0.3s
		
		&:focus
			border-bottom-color Mlgold
			outline 0 !important
			outline none !important
		

	#edit-submit--4
		background-color Mlmid
		border 0
		border-radius 5px
		color #fff
		padding 1.2rem
		transition all ease-in-out 0.2s
		
		&:active
			transform scale(0.9)
			
		&:hover
			background-color Mldark
		
#user-register-form
	margin 0 auto 13rem
	max-width 100%
	width 1140px
	
	input
		background-color transparent
		border 0
		border-bottom 1px solid Mldark
		box-shadow none !important
		transition all ease-in-out 0.3s
		
		&:focus
			border-bottom-color Mlgold
			outline 0 !important
			outline none !important
			
	#edit-submit
		background-color Mlmid
		border 0
		border-radius 5px
		color #fff
		display block
		margin 0 auto
		padding 1.2rem
		transition all ease-in-out 0.2s
		
		&:active
			transform scale(0.9)
			
		&:hover
			background-color Mldark
			
	#nueva-cuenta-usuarios
		padding 1% 15% 0% 28%
		width 100%
		background-color Mllight 
		
		div, span
			font-weight bold
			text-align left
			font-size 15px
			color Mlmid
			padding 0px 0px 0px 0px
			border 0px
			border-style solid

		.description
			font-weight normal
			color #000000
			width 90%
			
			a
				color #005193
				
#views-exposed-form-freguntas-frecuentes-block
	
	.views-widget-filter-title
		width 80%
		display inline-block
		text-align left
		
		label
			color Mllight 
			
		.views-widget .form-item-title		
			width 100%
			display inline-block
			text-align left
		
			input#edit-title
				background-color transparent
				border none
				border-bottom 1px solid white
				box-shadow none !important
				color white !important
				font-size 1em 
				margin-bottom 5px
				padding 0
				display inline-block
				width 100%
				&:focus
					outline 0 !important
			
			
			label
				color Mllight 
				
			// .views-widget .form-item-title		
			// 	input#edit-title
			// 		background-color transparent
			// 		border none
			// 		border-bottom 1px solid white
			// 		display inline-block
			// 		width 70%
			// 		&:focus
			// 			outline 0 !important
		
	.views-submit-button
		display inline-block
		width auto
		&:before
			color white
			content "\e003"
			font-family 'Glyphicons Halflings'
			
		input#edit-submit-freguntas-frecuentes
			background-color transparent
			border none
			color transparent
			width 0
			&:focus
				outline 0 !important
				
	.views-reset-button
		display inline-block
		width auto
		&:before
			color white
			content "\e031"
			font-family 'Glyphicons Halflings'
			
		input#edit-reset
			background-color transparent
			border none
			color transparent
			width 0
			&:focus
				outline 0 !important
		

div.forma-1
	width 57%

p.forma-1
	width 40%
	
.container-inline
	width 50%
	margin-left 25%
	margin-top 20px

.form-item
	label
		color white

.forma-1
	display inline-block
	vertical-align middle

	p
		text-align center

	input
		background-color transparent
		border-bottom solid 1px white
		border-left none
		border-radius 0 !important
		border-right none
		border-top none
		box-shadow none !important
		color white !important
		font-family Roboto !important
		font-size 1em
		margin-bottom 5px
		padding 0
		text-transform uppercase
		width 60%
		
		&:focus
			border-bottom-color Mlgold
			outline 0 !important
			outline none !important
		
	button
		background-color transparent !important
		border none !important
		color white
		font-size 1.2em
		&:hover
		&:active
		&:focus
		&:visited
			outline none !important
			box-shadow: none !important;
			border none !important
			color white !important
								
.region
	.block 
		#resultados-de-busqueda
			margin-top 1em
			h2
				color Mllight !important
			ul 
				color white
				
.title
	a
		font-size 2rem
		color white
		text-decoration underline