

.r-pdd
	margin 0

.bg-men
	background-color Mldark
	padding 0

	

.container-fluid
	padding-left 0
	padding-right 0

.log
	width 40%



.navmenu-default,
	.navbar-default .navbar-offcanvas
		background-color Mlgray
		border-color Mlgray


.nav-pills>li.active>a, 
	.nav-pills>li.active>a:focus, 
		.nav-pills>li.active>a:hover
			color #fff
			background-color transparent
			margin-right 0%


.nav-pills
	&>li
		&>a
			background-color transparent
			color #fff

.nav-pills
	&>li
		&>a
			&:hover
				background-color transparent
				color #01aaf1
		

.nav-pills
	&>li
		&>a
			&:active
				background-color transparent
				color #01aaf1




@media (min-width: 0)
	.navbar-toggle
		display block

@media (min-width: 992px)
	body
		padding 0
	.navbar
		right auto
		background none
		border none

