// img
// 	height auto
// 	display block
// 	max-width 100%
	
.view-content
	vertical-align middle
	
	.listado-articulos
		background-color rgba(white, 0.8)
		padding 1em
		margin 1em 0
		
		.views-field-title 
			position relative
			h2
				color #01214d !important
				font-family "Helvetica Neue",Helvetica,Arial,sans-serif
				margin 1em 0
				padding 0 1em
			a 
				height 100%
				position absolute
				right 0
				top 0
				width 100%

		.views-field-contenido-descripcion
			width 100%
			.views-field-field-imagen-bbq
				display inline-block
				vertical-align middle
				width 20%		
			.views-field-body
				display inline-block
				vertical-align middle
				width 75%
				
	.listado-articulos-derecha
		border-left solid 1px #01214d
		
	.listado-articulos-izquierda
		border-right solid 1px #01214d
		