.bg-men
	background-color Mldark
	

div.forma-1
	width 60%

p.forma-1
	width 36%

.forma-1
	display inline-block
	vertical-align middle

	p
		text-align center

	input
		background-color transparent
		border-bottom solid 1px white
		border-left none
		border-radius: 0 !important;
		border-right none
		border-top none
		box-shadow: none !important;
		color white !important
		font-family Roboto !important
		font-size 1em
		margin-bottom 5px
		padding 0
		text-transform uppercase
		width 60%
		
	button
		background-color transparent !important
		border none !important
		color white
		font-size 1.2em
		&:hover
		&:active
		&:focus
		&:visited
			outline none !important
			box-shadow: none !important;
			border none !important
			color white !important


.gral-form
	label
		color ml-dblue
		font-family 'robotothin'
		margin-top 0.5em
		text-align left
		width 100%
	.form-control
		border-radius 0 !important
		color gris-grl-font
		font-family 'roboto-r'
		font-size 1em
		height auto !important
		margin 0 auto
		text-align center
		&:hover
		&:active
		&:focus
			border-color ml-mblue

.s-i
	bottom -0.2rem
	font-size 1.8rem
	position relative

.p-cent-log
	margin 2% 0 2% 0 
	padding 0% 0% 0 0
	text-align right

.p-center
		background-color Mlmid

.bg-men
	background-color Mldark
	padding 0


.bg-men-2
	background-color Mldark
	padding-left 0
	padding-right 0

.bg-men-3
	background-color Mlmid
	padding 0	
	
.log
	width 20%

.navbar-default-but 
	background-color transparent !important
	border-color transparent !important
	margin 0

.navbar-toggle 
	position relative
	padding 0 0 0 0
	margin 60% 0 0 5%
	background-color transparent
	background-image none
	border 0px solid transparent
	border-radius 0px
	float left
	

.navbar-default .navbar-toggle:focus, 
	.navbar-default .navbar-toggle:hover
		background-color transparent

.p-center
	text-align center
	padding 0.7% 0 0 0


.ing-men
	background #005193 !important
	color white !important
	font-size 1.1rem !important
	padding 1rem 1.2rem !important
	
html, body
	height 100%

body
	padding 0 0 0 0


	

// @media (min-width: 0)


// @media (min-width: 992px)


