.bg-men
	background-color Mldark

.forma-1
	p
		text-align center

.forma-1
	input
		border-top none
		border-left none
		border-right none
		border-bottom solid 1px white
		border-radius: 0 !important;
		background-color transparent
		box-shadow: none !important;
		font-size 1em
		font-family Roboto !important
		text-transform uppercase
		padding 0
		margin-bottom 5px
		color white !important
	button
		background-color transparent !important
		border none !important
		color white
		font-size 1.2em
		&:hover
		&:active
		&:focus
		&:visited
			outline none !important
			box-shadow: none !important;
			border none !important
			color white !important


.gral-form
	label
		font-family 'robotothin'
		text-align left
		width 100%
		color ml-dblue
		margin-top 0.5em
	.form-control
		font-size 1em
		height auto !important
		font-family 'roboto-r'
		color gris-grl-font
		margin 0 auto
		text-align center
		border-radius: 0 !important;
		&:hover
		&:active
		&:focus
			border-color ml-mblue

.s-i
	font-size 1.8rem
	position relative
	bottom -0.2rem

.p-cent-log
	text-align right
	padding 0% 0% 0 0
	margin 2% 0 2% 0 

.p-center
		background-color Mlmid

.bg-men
	background-color Mldark
	padding 0


.bg-men-2
	background-color Mldark
	padding-left 0
	padding-right 0

.bg-men-3
	background-color Mlmid
	padding 0	
	
.log
	width 20%

.navbar-default-but 
	background-color transparent !important
	border-color transparent !important
	margin 0

.navbar-toggle 
	position relative
	padding 0 0 0 0
	margin 60% 0 0 5%
	background-color transparent
	background-image none
	border 0px solid transparent
	border-radius 0px
	float left
	

.navbar-default .navbar-toggle:focus, 
	.navbar-default .navbar-toggle:hover
		background-color transparent

.p-center
	text-align center
	padding 0.7% 0 0 0


.ing-men
	font-size 1.1rem !important
	padding 1rem 1.2rem !important
	background #005193 !important
	color white !important
	
html, body
	height 100%

body
	padding 0 0 0 0


	

// @media (min-width: 0)


// @media (min-width: 992px)


