.style-sm
	background-color Mlgray
	
.sub-elm
	color Gris !important

.sub-elm-1
	background-color Mlgray

.pd-sm2
	padding 0 13% 0 13%

.ts-o
	padding 0 0% 0 9%
	width 7rem

.pd-tm-1
	padding 0 2% 0 1%

.breadcrumb 
	padding 0rem 0rem
	margin-bottom 0
	list-style none
	border-radius 0

.men-tt
	font-size 1.2rem !important
	color GrisC !important
	&hover
		color Mlmid !important


.men-tt-2
	color Mlmid

.it-sm
	height 6rem
	border-bottom 1px solid GrisC

.it-sm
	.active
		border-bottom 0.3rem solid Mlgold

.headerItem-menu
	width 100% !important
	float left
	padding 3% 3% 0 3%
	background-color Mlgray
	
.headerItem-menu
	h1
		width 100% !important
		float left
		margin 0% 0 0 0
		font-size 2rem
		color Mldark

.tituloInterno
	width 39% !important