/*
En este archivo se declaran los colores, las fonts y sus variaciones
*/

// COLORES MILLER

// ml blue
Mlmid        = #005193
Mllight      = #0093d9
Mldark       = #01214d
Mlred        = #d0043c
Mlgray       = #d4dce7
Mlgold       = #e2c58e
Gris         = #5b5b5b
GrisC        = #696969


/*Pueden encontrar más funciones para mezclas y manejo de color acá:
https://learnboost.github.io/stylus/docs/bifs.html*/

//Fonts

Roboto = 'Roboto', sans-serif
akzidenzgrotesk = 'akzidenzgrotesk', sans-serif
akzidenzgrotesk-m = 'akzidenzgrotesk-m', sans-serif

//Font weights
Light  = 300
Normal = 400
Bold   = 700

