//dashboard
div.log-w
	div.pic-ct
					
	div.txt-ct
		p.tit-log
			| HOLA
		p.name-t
			| CAMILO RIVERA
					
h4.pd-t LO NUEVO		
div.feed-w
	div.ct-slide
		#myCarousel-log.carousel.slide(data-interval='5000', data-ride='carousel')
			// Carousel indicators
			ol.carousel-indicators
				li.active(data-target='#myCarousel-log', data-slide-to='0')
				li(data-target='#myCarousel-log', data-slide-to='1')
				li(data-target='#myCarousel-log', data-slide-to='2')
			// Wrapper for carousel items
			.carousel-inner
				.active.item.b-f
					.log-w-2
						div.pic-ct-2
						div.txt-ct-2 
							p.name-t-2
								| CAMILO RIVERA
							p.tit-log-2
								| Una mañana, tras un sueño intranquilo, Gregorio Samsa.
				.item.b-f
					.log-w-2
						div.pic-ct-2
						div.txt-ct-2
							p.name-t-2
								| CAMILO RIVERA
							p.tit-log-2
								| Una mañana, tras un sueño intranquilo, Gregorio Samsa.
				.item.b-f
					.log-w-2
						div.pic-ct-2
						div.txt-ct-2
							p.name-t-2
								| CAMILO RIVERA
							p.tit-log-2
								| Una mañana, tras un sueño intranquilo, Gregorio Samsa.
									
h4.rec-m RECIENTES 
div.recents-w
	div.rec-box
		div.pic-ct
					
		div.txt-ct
			h3.name-t-3 CAMILO RIVERA

div.recents-w
	div.rec-box
		div.pic-ct
					
		div.txt-ct
			h3.name-t-3 CAMILO RIVERA

div.recents-w
	div.rec-box
		div.pic-ct
					
		div.txt-ct
			h3.name-t-3 CAMILO RIVERA


h4.rec-m Síguenos en Nuestras Redes
ul.soc-links
	li
		a(href='https://www.facebook.com/MillerLiteColombia/' alt='facebook Miller Lite' title='facebook Miller Lite')
			span.icon-miller-fb.s-i-2 
	li
		a(href='https://twitter.com/MillerLiteCol?lang=es' alt='twitter Miller Lite' title='twitter Miller Lite')
			span.icon-miller-tw.s-i-2  

		
///-dashboard