//Menu

.navmenu.navmenu-default.navmenu-fixed-left.offcanvas
	ul.nav.navmenu-nav.visible-xs.visible-sm.visible-md
			li
				a(href='../navmenu/')
					span.icon-miller-home.s-i
					|	HOME
			li.active
				a(href='./') 
					span.icon-miller-miller.s-i
					|	MILLER LITE	
			li
				
				a(href='../navmenu-reveal/') 
					span.icon-miller-music.s-i
					|	MUSIC
			li
				
				a(href='../navbar-offcanvas/') 
					span.icon-miller-litestyle.s-i
					|	LITESTYLE
			li
				
				a(href='../navbar-offcanvas/') 
					span.icon-miller-beertime.s-i
					|	BEERTIME
		

				.navbar-form.navbar-left(role='search')
					.form-group
						input.form-control(type='text', placeholder='Search')
						button.btn.btn-default(type='submit') Submit
	include dashboard



///Menu