//Sub-Menu
ul.nav.nav-pills.visible-lg
	li.active
		a(href='#')
			span.icon-miller-home.s-i
			|	HOME
	li.active
		a(href='#')
			span.icon-miller-miller.s-i
			|	MILLER LITE
	li.active
		a(href='#')
			span.icon-miller-music.s-i
			|	MUSIC
	li.active
		a(href='#')
			span.icon-miller-litestyle.s-i
			|	LITESTYLE
	li.active
		a(href='#')
			span.icon-miller-beertime.s-i
			|	BEERTIME

///Sub-Menu