.age-validator
	margin 1.5em 0
	label
		font-family 'robotothin'
		text-align center
		width 100%
	.form-control
		font-size 3.5em
		height auto !important
		font-family 'akzidenzgrotesk'
		color gris-grl-font
		width 80%
		margin 0 auto
		text-align center
		border-radius: 0 !important;
		&:hover
		&:active
		&:focus
			border-color ml-mblue

.facebook-log
.twitter-log
	background-color facebook-color
	border none
	font-size 1.5em
	width 80%
	color white
	margin 0.5em auto
	border-radius: 0 !important;
	.btn-icon
		display inline-block
		width 8%
		color white
		border-right solid 1px white
		padding-right 0.4em
	.btn-cont
		display inline-block
		width 90%
		text-align center
	&:hover
	&:active
	&:focus
	&:visited
		color white

.twitter-log
	background-color twitter-color

.btn
	&:hover
	&:active
	&:focus
	&:visited
		outline none !important
		box-shadow none !important
		border-color none !important
	
.grl-btn
	border none
	font-size 1.5em
	width 80%
	color ml-dblue
	margin 0.5em auto
	border-radius: 0 !important;
	text-transform uppercase
	
.grl-sml
	border none
	font-size 0.6em
	width 90%
	color ml-dblue
	margin 0.5em auto
	border-radius: 0 !important;
	text-transform uppercase

.gold
	background-color ml-gold
	color ml-dblue
	&:hover
	&:active
	&:focus
	&:visited
		color ml-dblue

.blue
	background-color ml-mblue
	color white
	&:hover
	&:active
	&:focus
	&:visited
		color white

.red-btn
	background-color ml-red
	color white
	&:hover
	&:active
	&:focus
	&:visited
		color white

.sml-btn
	font-size 1.2em
	text-align left
	text-transform none


.share-btn
	border none
	font-size 1.5em
	color white
	margin 0.5em auto
	border-radius: 0 !important;
	padding 0.3em 0.5em
	margin-right 0.5em
	&:last-child
		margin-right 0
	&.fb
		background-color facebook-color
	&.tw
		background-color twitter-color

.fullw
	width 100% !important

.error
	background-color ml-mblue
	margin-bottom -2em
	color white
	text-align center
	padding 0.5em
	box-shadow: 3px 3px 0 rgba(black, 0.18);
		
// estilos form general

.gral-form
	label
		font-family 'robotothin'
		text-align left
		width 100%
		color ml-dblue
		margin-top 0.5em
	.form-control
		font-size 1em
		height auto !important
		font-family 'roboto-r'
		color gris-grl-font
		margin 0 auto
		text-align center
		border-radius: 0 !important;
		&:hover
		&:active
		&:focus
			border-color ml-mblue

select 
	appearance: none;

// Media querys

@media (min-width: 200px) and (max-width: 767px)
	
	form.age-validator
		.form-control
			font-size 2em
	
	.facebook-log
	.twitter-log
		font-size 1em

@media (min-width: 768px) and (max-width: 991px)
	
	form.age-validator
		.form-control
			font-size 3em

@media (min-width: 992px) and (max-width: 1199px)

	body
		background-color gray