//Nib & gradient support
@import 'nib'
@import 'nib/vendor'
@import 'nib/gradients'
//Esto hace que exporte los estilos css3 con soporte para todos los navegadores
vendor-prefixes = o ms webkit moz official

//Variables y funciones, se deben declarar primero que el resto de archivos para poderlos utilizar
@import "modules/fonts"
@import "modules/variables"
@import "modules/funciones"

//Layout
@import "modules/base"
@import "modules/buttons"
@import "modules/breadcrumbs"
@import "modules/forms"
@import "modules/sliders"
@import "modules/menu"
@import "modules/submenu"
@import "modules/s-menu"
@import "modules/contenido-r"
@import "modules/footer"
@import "modules/utilities"
@import "modules/media-queries"


