//-Layout Base
extends partials/base.jade


//-Etiqueta Metadescription
block description
	meta(name="description", content="Miller Lite" )


block content

	div.container-fluid
		div.row
			div
				div#content.region
					div#block-system-main.block.block-system.no-title
						div.view.view-daytime-party.view-id-daytime_party.view-display-id-page.listado-articulos.view-dom-id-d008f7cdabd260b7ca6330d59908d703
							
							//plantilla
							div.view-content.container-fluid
								div.row				
									
									//box-1
									div.views-row.views-row-1.views-row-odd.views-row-first.views-row-last.listado-articulos.listado-articulos-izquierda.col-lg-6.col-md-6.col-sm-12.col-xs-12
										
										//titulo
										div.views-field.views-field-title
											h2.field-content BBQ PARTY
											a(href="/millerlite/node/131") 
											//- span.field-content
											//- 	a(href="/millerlite/node/131") BBQ PARTY

										//contenido
										div.views-field.views-field-contenido-descripcion

											//imagen
											div.views-field.views-field-field-imagen-bbq
												//- span.views-label.views-label-field-imagen-bbq Imagen
												div.field-content
													a(href="/millerlite/node/131")
														img.image-style-thumbnail(typeof="foaf:Image" src="http://172.16.229.34/millerlite/sites/default/files/styles/thumbnail/public/beer_0.png?itok=f6_npxnJ" width="100" height="100" alt="")

											//descripcion
											div.views-field.views-field-body
												//- span.views-label.views-label-body Cuerpo
												div.field-content
													p Si no sabes que hacer en el fin de semana, puedes disfrutar de un delicioso BBQ en casa al estilo Miller Lite, este plan es perfecto para que disfrutes m치s de lo que te gusta en cualquier ocasi칩n

									//box-2
									div.views-row.views-row-1.views-row-odd.views-row-first.views-row-last.listado-articulos.listado-articulos-derecha.col-lg-6.col-md-6.col-sm-12.col-xs-12
										
										//titulo
										div.views-field.views-field-title
											h2.field-content BBQ PARTY
											a(href="/millerlite/node/131") 
											//- span.field-content
											//- 	a(href="/millerlite/node/131") BBQ PARTY

										//contenido
										div.views-field.views-field-contenido-descripcion

											//imagen
											div.views-field.views-field-field-imagen-bbq
												//- span.views-label.views-label-field-imagen-bbq Imagen
												div.field-content
													a(href="/millerlite/node/131")
														img.image-style-thumbnail(typeof="foaf:Image" src="http://172.16.229.34/millerlite/sites/default/files/styles/thumbnail/public/beer_0.png?itok=f6_npxnJ" width="100" height="100" alt="")

											//descripcion
											div.views-field.views-field-body
												//- span.views-label.views-label-body Cuerpo
												div.field-content
													p Si no sabes que hacer en el fin de semana, puedes disfrutar de un delicioso BBQ en casa al estilo Miller Lite, este plan es perfecto para que disfrutes m치s de lo que te gusta en cualquier ocasi칩n
