@font-face {
	font-family: 'akzidenzgrotesk';
	src:url('akzidenzgrotesk-mediumcondalt-webfont.eot?-at3trv');
	src:url('akzidenzgrotesk-mediumcondalt-webfont.eot?#iefix-at3trv') format('embedded-opentype'),
		url('akzidenzgrotesk-mediumcondalt-webfont.ttf?-at3trv') format('truetype'),
		url('akzidenzgrotesk-mediumcondalt-webfont.woff?-at3trv') format('woff'),
		url('akzidenzgrotesk-mediumcondalt-webfont.svg?-at3trv#akzidenzgrotesk') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'roboto-r';
	src:url('roboto-regular-webfont.eot?-at3trv');
	src:url('roboto-regular-webfont.eot?#iefix-at3trv') format('embedded-opentype'),
		url('roboto-regular-webfont.ttf?-at3trv') format('truetype'),
		url('roboto-regular-webfont.woff?-at3trv') format('woff'),
		url('roboto-regular-webfont.svg?-at3trv#roboto-r') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
    font-family: 'robotothin';
    src: url('roboto-thin-webfont.eot');
    src: url('roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-thin-webfont.woff2') format('woff2'),
         url('roboto-thin-webfont.woff') format('woff'),
         url('roboto-thin-webfont.ttf') format('truetype'),
         url('roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}